# Copy to .dev.vars for local wrangler dev testing
FIREBASE_CLIENT_EMAIL="service-account@g13pals.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
